*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #BDBDBD;
}
.titulo-conta{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
}
.sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #757575;
    border-radius: 5px;
    width: 500px;
    font-size: 18px;
}
.fazer-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.link-logout, .link-admin, .link-senha{
    font-weight: bold;
    margin: 0 5px;
    padding: 2px;
    color: #757575;
    text-decoration: none;
    transition: all 400ms ease;
    border-radius: 5px;
    color: #2196F3;
}
.link-logout:hover, .link-admin:hover, .link-senha:hover{
    border: 1px solid #2196F3;
    background-color: #2196F3;
    color: #ffffff;
}
.links-minha-conta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.link-conta{
    font-weight: bold;
    margin: 0 5px;
    padding: 2px;
    color: #757575;
    text-decoration: none;
    transition: all 400ms ease;
    border-radius: 5px;
    color: #2196F3;
}
.link-conta:hover{
    border: 0px solid #2196F3;
    background-color: #2196F3;
    color: #ffffff;
}
.mudar-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.form-mudar-senha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.input-mudar-senha{
    margin-bottom:10px;
    width: 98%;
}

.form-mudar-senha button{
    align-self: center;
}
.open-form-mudar-senha{
    margin-top: 10px;
    width: 300px;
    transform-origin: 100% 100%; 
}

details{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
summary{
    align-self: center;
    justify-self: center;
    text-align: center;
}
summary:hover{
    cursor: pointer;
}
@media(max-width: 700px){
    .sessao{
        width: auto;
    }
    .info-conta{
        width: 95vw;
    }
}
@media(max-width: 500px){
    .mudar-senha{
        width: 98%;
    }
}