*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #BDBDBD;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 15px 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #ffffff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px 20px 20px 20px;
}
.titulo-site h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 50px;
}
.link-pages, button{
    font-size: 25px;
    font-weight: bold;
    margin: 0 5px;
    padding: 3px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: all 400ms ease;
    border: none;
    border-radius: 5px;
    color: #2196F3;
}
.links-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 50px 0 0;
}
.link-pages:hover, button:hover{
    border: 0px solid #2196F3;
    background-color: #2196F3;
    color: #ffffff;
}
.form-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 500px;
    padding: 10px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #757575;
    border-radius: 5px;
}
.btn-post-open{
    background-color: #BDBDBD;
}
details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;
}
summary{
    margin: 10px 0;
    align-self: center;
    justify-self: center;
    text-align: center;
}
summary:hover{
    cursor: pointer;
}
.form-post form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form input, form textarea{
    padding: 2px;
    width: 99%;
}
.form-post label, .form-post button{
    width: 98%;
    height: auto;
    margin: 5px;
}
.resizeble{
    resize: vertical;
}
.input-busca{
    box-sizing: border-box;
    border: none;
    padding: 10px 10px 10px 40px;
    align-self: center;
    justify-self: flex-start;
    width: 100%;
    size: unset;
    font-size: 15px;
    background: transparent;
}
.icone-busca{
    position: absolute;
    transform: translate(50%);
}
.busca-publicacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #757575;
    border-radius: 5px;
    box-sizing: border-box;
}
.titulo-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
}
.Conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.publicacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #757575;
    border-radius: 5px;
    box-sizing: border-box;
    width: 500px;
    
}
.nome{
    align-self: flex-start;
    height: auto;
    margin: 5px 0 20px 0;
}
.nome b{
    font-size: 22px;
}
.titulo{
    align-self: center;
    font-weight: bold;
    height: 30px;
    font-size: 18px;
}
.conteudo{
    align-self: center;
    text-align: start; 
}
.botoes-acao{
    align-self: flex-end;
}
.btn-post-close{
    align-self: flex-end;
    font-size: 15px;
    color: #c91313;
}
.btn-excluir{
    font-size: 15px;
    color: #c91313;
}
.btn-excluir:hover, .btn-post-close:hover{
    border: 0px solid #c91313;
    background-color: #c91313;
    color: #ffffff;
}
@media(max-width: 755px){
    header{
        flex-direction: column;
    }
    main{
        margin: 115px 20px 20px 20px;
    }
    .titulo-site, h1, .links-header{
        padding: 0;
    }
}
@media(max-width: 700px){
    .publicacoes{
        width: 90vw;
    }
    .form-post{
        width: 90vw;
    }
}
@media(max-width: 390px){

    main{
        margin: 150px 20px 20px 20px;
    }
}
